<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inventory</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">App Inventory</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/">HomePage <span class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container text-center">
		<div>
			<h1>Welcome to the inventory application</h1>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categorias}">List of categorys</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/categorias/nuevo}">add a new category</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/productos}">List of products</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/productos/nuevo}">add a new product</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/marcas}">List of Brands</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/marcas/nuevo}">add a new brand</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/usuarios}">List of users</a>
		</div>
		<div class="p-2">
			<a class="h2" th:href="@{/usuarios/nuevo}">add a new user</a>
		</div>

	</div>
</body>

</html>